{% extends "spotify_filter/base.html" %}
{% load static %}

{% block title %}Album Detail{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'spotify_filter/detail_styles.css' %}">
{% endblock %}

{% block content %}
<div id="frame">
<h1>{{ artist.name }}</h1>

<h2>Albums:</h2>
<u1>
    {% for album in artist.albums.all %}
        <li><a href="{% url 'spotify_filter:album_detail' album.id %}">{{ album.title }}</a></li>
    {% endfor %}
</u1>

{% if artist.genres.count > 0 %}
<h2>Genres:</h2>
<ul>
    {% for genre in artist.genres.all %}
        <li>{{ genre.name }}</li>
    {% endfor %}
</ul>
{% endif %}

<p>Listen on Spotify: <a href="https://open.spotify.com/artist/{{ artist.spotify_id }}" target="_blank">Artist's page</a></p>
{% if artist.image %}
  <img src="{{ artist.image }}" alt="Artist Image" width="640" height="640"/>
{% endif %}

</div>

<h3><a href="{% url 'spotify_filter:dashboard' %}">Back to Dashboard</a></h3>
{% endblock %}