<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Importing Spotify Data</title>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'spotify_filter/styles.css' %}">
  </head>
<body>
<h1>Import in Progress</h1>
  <p>Please wait while we fetch your Spotify data...</p>
  <div id="status">Importing...</div>
      <script>
        const taskId = "{{ task_id }}";
        const statusUrl = "{% url 'spotify_filter:task_status' task_id='PLACEHOLDER' %}".replace('PLACEHOLDER', taskId);
        
        function checkTaskStatus() {
            console.log('Checking task:', taskId)
            fetch(statusUrl)
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'SUCCESS') {
                        window.location.href = "{% url 'spotify_filter:dashboard' %}";
                    } else if (data.status === 'FAILURE') {
                        document.getElementById('status').textContent = 'Import failed. Please try again.';
                    } else {
                        setTimeout(checkTaskStatus, 2000);
                    }
                });
        }
        
        checkTaskStatus();
    </script>
</body>