{% extends "spotify_filter/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to Spotify Library</h1>
{% if user.is_authenticated %}
    <a href="{% url 'spotify_filter:spotify_connect' %}" class="btn btn-success btn-lg">
        Connect Spotify & Import Data
    </a>
{% else %}
    <p>Please <a href="{% url 'spotify_filter:login' %}">log in</a> to connect your Spotify account.</p>
{% endif %}
<p><a href="{% url 'spotify_filter:dashboard' %}" class="btn btn-primary">Go to an existing dashboard</a></p>
{% endblock %}
