* {
  box-sizing: border-box;
}

a:link, a:visited {
  color:lightsalmon
}

a:hover, a:active {
  color:tomato;
}

body {
  margin: 10px;
  font-size: 15px;
  font-family: system-ui, sans-serif;
  color: white;
  background-color: rgb(39, 39, 39);
}

h1 {
  text-align: center;
}

.navbar-nav .logout-form {
    padding: 15px;
    margin: 0;
}

.navbar-nav .logout-form button {
    background: none;
    border: none;
    color: #777;
    padding: 0;
    cursor: pointer;
    font-size: 14px;
}

.navbar-nav .logout-form button:hover {
    color: #333;
    text-decoration: none;
}