* {
  box-sizing: border-box;
}

a:link, a:visited {
  color:lightsalmon
}

a:hover, a:active {
  color:tomato;
}

body {
  margin: 10px;
  font-size: 15px;
  font-family: system-ui, sans-serif;
  color: white;
  background-color: rgb(39, 39, 39);
}

h1 {
  text-align: center;
}